.jumbotron {
  height: 250px;
  background-color: #FFFFFF;
  text-align: center;
}

.jumbotron .container {
  position: relative;
  top:50px;
 }

a:hover {
  text-decoration: none;
  color: white;
  background-color: black
}

/* Style the buttons while hovering over the link 
a:hover div.jumbotron div.container h1{
    color: black; /* This removes underline 
}


/* Style the buttons while hovering over the link
a:hover div.jumbotron div.container p{
    color: black; /* This removes underline 
}
*/

.jumbotron h1 {
  color: #2B3856;
  font-size: 50px;  
  font-family: "Courier New", Courier, monospace;
}

.jumbotron p {
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
  color: #2B3856;
}

a {
  text-decoration: none;
}

/* STYLE THE CONTAINER AROUND THE TOPNAV LIST */

/* Make the options display side-by-side (block would insert line breaks between each button) */
.topnav_container ul li 
{ 
  display: inline; 
}


/* Add pading to the navbar container */
.topnav_container ul li a
{ 
  padding: 1em 2em;
}

/* Style the buttons while hovering over the link */
.topnav_container ul li a:hover
{
    background-color: #f44336;
    color: white;
    text-decoration: none; /* This removes underline */
}

/* STYLE THE ACTUAL TOPNAV LIST */
.topnav{
    list-style-type: none;   /* Remove bullet symbols */
    margin: 0;
    padding: 0;
    overflow: hidden; /* What to do when the screen gets too narrow */
    background-color: #BCC6CC;
}

ul.topnav{ 
  text-align: center; 
}


ul.topnav li a {
    display: inline-block;
    text-align: center;
    color: #2B3856;
    font-family: "Courier New", Courier, monospace;
    font-size: 14 px;
    font-weight: bold;
    text-transform: uppercase;
}
